<style>
    .header{
        width: auto;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        background-color: yellow;
        background-image: url('app/css/layoutFundoTopo.png');
    }
    .texto{
        text-align: center;
        color: yellow;
        font-size: 18px;
    }
</style>



<div class="container">
    <div class="row">
        <div class="header texto">
            <br>
            <p>{{vm.titulo}}</p>
        </div>
    </div>
</div>
