<style>
    .menu {
        top: 1px;
        right: 980px;
        width: 200px;
        height: 530px;
        background-color: darkgray;
        text-align: center;
    }
</style>

<nav class="col-md-3 col-md-pull-9 menu" >

    <h2>Menu</h2>

    <md-button class="md-fab md-primary"
               aria-label="Usuarios"
               ng-click="abrirPagina('cadastroUsuario')"
               title="Cadastro de Usuarios">
        <i class="fa fa-child" aria-hidden="true"></i>
    </md-button>

</nav>
